.circleButton {
  width: 48px;
  height: 48px;
  background: rgba(35, 35, 35, 0.4);
  border: 1px solid #6a6a6a;
  box-sizing: border-box;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &:hover {
    transition: 150ms;
    svg {
      path {
        stroke: white;
      }
    }
  }
}
.circleButtonActive {
  width: 48px;
  height: 48px;
  border: 1px solid white;
  background: rgba(35, 35, 35, 0.4);
  box-sizing: border-box;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: 150ms;
  svg {
    path {
      stroke: white;
    }
  }
}

.circleButtonWithHover {
  width: 48px;
  height: 48px;
  background: rgba(35, 35, 35, 0.4);
  border: 1px solid #6a6a6a;
  box-sizing: border-box;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.circleButtonWithHoverActive {
  width: 48px;
  height: 48px;
  background: #2a2a2a;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: 150ms;
  svg {
    path {
      stroke: white;
    }
  }
}

.circleButtonWithState {
  width: 48px;
  height: 48px;
  background: rgba(35, 35, 35, 0.4);
  border: 1px solid #6a6a6a;
  box-sizing: border-box;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &:hover {
    transition: 150ms;
    svg {
      path {
        stroke: white;
      }
      line {
        stroke: white;
      }
    }
  }
}

.circleButtonWithStateActive {
  width: 48px;
  height: 48px;
  background: #2a2a2a;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &:hover {
    transition: 150ms;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    svg {
      path {
        stroke: white;
      }
    }
  }
}

.circleActionButton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  .svgWrapper {
    width: 48px;
    height: 48px;
    fill: none;
    .svgBackground {
      fill: rgba(35, 35, 35, 0.4);
      stroke: #6a6a6a;
      stroke-width: 1;
    }
    .svgCircle {
      fill: none;
      stroke: #ed2a26;
      stroke-width: 1;
    }
    .svgHand {
      fill: #b6b6b6;
    }
  }
  .svgWrapperActive {
    width: 48px;
    height: 48px;
    fill: none;
    .svgBackground {
      fill: rgba(35, 35, 35, 0.4);
      stroke: #6a6a6a;
      stroke-width: 1;
    }
    .svgCircle {
      fill: none;
      stroke: #ed2a26;
      stroke-width: 1;
      animation: progress 5s ease forwards;
    }
    .svgHand {
      fill: white;
    }
  }
  &:hover {
    .svgHand {
      fill: rgb(255, 255, 255);
    }
  }
}
@keyframes progress {
  0% {
    stroke-dasharray: 110, 0;
  }
}
