.pollModalContainer {
  width: 733px;
  max-height: 733px;
  background: rgba(35, 35, 35, 0.6);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(40px);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 24px;
  overflow: hidden;
}

.createPollModalContainer {
  width: 733px;
  min-height: 288px;
  max-height: 733px;
  background: rgba(35, 35, 35, 0.8);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(40px);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 24px;
  overflow: hidden;
}
.pollContainer {
  width: 100%;
  .header {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .closeBtn {
      background-color: transparent;
      padding: 0;
      button {
        cursor: pointer;
      }
      svg {
        path {
          stroke: #949494;
        }
      }
      &:focus {
        outline: none;
      }
    }
    span {
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #a3a3a3;
    }
  }
  .qusetionsContainer {
    width: 100%;
    min-height: 100px;
    max-height: 600px;
    overflow-y: auto;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
    .emptyPlacholder {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      .emptyText {
        width: 231px;
        height: 100%;
        margin-left: 27px;
        display: flex;
        flex-direction: column;

        .textHeader {
          font-family: Rubik;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: #b6b6b6;
        }
        .text {
          font-family: Rubik;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #b6b6b6;
        }
      }
    }
  }
  .createQuestion {
    width: 100%;
    min-height: 200px;
    max-height: 800px;
    &::-webkit-scrollbar {
      display: none;
    }
    .questionLabel {
      width: 42px;
      height: 24px;
      font-family: Rubik;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
    .questionInput {
      width: 100%;
      height: 88px;
      background: #35353545;
      border: 1px solid #6a6a6a;
      border-radius: 4px;
      box-sizing: border-box;
      resize: none;
      padding: 8px 16px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #b6b6b6;
      margin-bottom: 32px;
      margin-top: 8px;
      padding-right: 5px;
      &::-webkit-scrollbar {
        display: none;
      }
      &:hover {
        padding-right: 0;

        &::-webkit-scrollbar {
          display: block;
          width: 5px;
          background-color: none;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #6a6a6a;
          border-radius: 2px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #949494;
          border-radius: 2px;
        }
      }

      &:focus {
        outline: none;
      }
    }
    .versionHeader {
      width: 100%;
      height: 24px;
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      .versionLabel {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
      .addVersionBtn {
        width: 124px;
        height: 32px;
        background: none;
        box-sizing: border-box;
        border: 0;
        border-radius: 4px;
        padding: 0;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        span {
          font-family: Rubik;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
        }
        &:hover {
          background: #49494973;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .versionsContainer {
      width: 100%;
      min-height: 104px;
      max-height: 192px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .actionBar {
      width: 100%;
      height: 128px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      box-sizing: border-box;
      padding-bottom: 16px;
      .cancelButton {
        width: 180px;
        height: 40px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #949494;

        border-radius: 4px;
        background: none;
        &:hover {
          background: #dadfe324;
          color: #ffffff;

          transition: 200ms;
        }
      }
    }
  }
}

.buttonStyle {
  display: flex;
  align-items: center;
  background: transparent;
  display: flex;
  margin: 6px;
  position: relative;
  .notificationIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    transform: scale(0.8);
    transition: 300ms;
  }
  span {
    margin-left: 8px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #b6b6b6;
  }
  &:hover {
    span {
      color: white;
    }
    svg {
      path {
        stroke: white;
      }
    }
    .notificationIcon {
      transform: scale(0);
    }
  }
}
