.header {
  width: 100%;
  height: 92px;
  box-sizing: border-box;
  padding: 32px 111px 32px 24px;
  .headerContent {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: transparent;
      cursor: pointer;
      &:hover {
        background: #414246;
      }
    }
    .content {
      height: 100%;
      width: 111px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
.userListContainer {
  width: 100%;
  height: calc(100vh - 96px);
  padding: 0 16px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .item {
    width: 100%;
    height: 64px;
    box-shadow: inset 0px -1px 0px rgb(63 63 63 / 74%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .container {
      width: calc(100% - 48px);
      height: 48px;
      display: flex;
      align-items: center;
      position: relative;
      .imgWrapper {
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 100%;
        margin-right: 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
      .isTeacherText {
        font-size: 12px;
        line-height: 16px;
        color: #6a6a6a;
        position: absolute;
        bottom: 2px;
        left: 60px;
      }
    }
    .accsessories {
      width: 48px;
      height: 20px;
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  .videoContainer {
    width: 100%;
    height: 200px;
    margin-bottom: 24px;
    border-radius: 8px;
    background: #343434;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover .infoBar {
      opacity: 1;
    }

    .infoBar {
      width: 100%;
      height: 58px;
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0;
      background: linear-gradient(180deg, rgba(35, 35, 35, 0) 0%, #232323 100%);
      transition: 200ms;
      .isTeacherText {
        font-size: 12px;
        line-height: 16px;
        color: #e7e7e7;
        position: absolute;
        bottom: 4px;
      }
      .nameBar {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
      .iconWrapperOn {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .iconWrapperOff {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: #c02929;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
