.toastWrapper {
  width: 262px;
  height: 48px;
  box-shadow: 2px 8px 14px rgba(black, 0.15);
  border: 1px solid #c02929;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px;
  .toastContainer {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .iconWrapper {
      width: 32px;
      height: 32px;
      border-radius: 4px;
      background: #c029295b;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .msgWrapoper {
      width: calc(100% - 38px);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #c02929;
      }
      .msg {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #1c1d1f;
      }
    }
  }
}

.permission_toast {
  width: 272px;
  height: 124px;
  background: #2a2a2a;
  backdrop-filter: blur(44px);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .info_board {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .user_info {
      width: 100%;
      height: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .user_img_wrapper {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      .user_name_surname {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
      }
    }
    .ask_text {
      font-size: 14px;
      line-height: 20px;
      color: #b6b6b6;
    }
  }
  .action_board {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .permissioan_accept_button {
      width: 112px;
      height: 100%;
      background: #047005;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      .accept_text {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
      }
      &:hover {
        background-color: #066307;
      }
    }
    .permissioan_decline_button {
      width: 112px;
      height: 100%;
      background: #c02929;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      .decline_text {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        font-feature-settings: 'liga' off;
        color: #ffffff;
      }
      &:hover {
        background-color: #ac2020;
      }
    }
  }
}

.connected_toast {
  width: 262px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  > div {
    width: 166px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
    span:nth-child(1) {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #1c1d1f;
    }
    span:nth-child(2) {
      font-size: 12px;
      line-height: 16px;
      color: #6a6a6a;
    }
  }
}
