.header {
  width: 100%;
  height: 48px;
  background: #1c1d1f;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 24px 24px;
  box-sizing: border-box;
  padding: 0 24px 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .goBackBtn {
    width: 132px;
    height: 32px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: white;
    }

    &:hover {
      background-color: #414246;
    }
  }

  .tools {
    height: 100%;
    width: 488px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;

    .permission_denied_text {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #6a6a6a;
    }
  }

  .title {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > span {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      color: white;
    }
  }

  .extra_tools {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    .button_dropdown {
      width: 97px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .select_font {
        width: 62px;
        height: 28px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        transition: 200ms;
        margin-right: 8px;

        > button {
          cursor: pointer;
        }

        &:hover {
          background-color: #414246;
        }
      }

      .dropdown_menu {
        width: 97px;
        background-color: white;
        position: absolute;
        top: 48px;
        right: 0;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 8px 8px;
        overflow: hidden;
        z-index: 5;

        .dopdown_menu_item {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          padding: 16px;
          cursor: pointer;

          &:hover {
            background: #d6d6d6;
          }

          .pixel_title {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #1c1d1f;
          }

          .pixel_icon {
            background-color: black;
            border-radius: 50%;
          }

          &:nth-child(1) {
            > span:first-child {
              width: 8px;
              height: 8px;
            }
          }

          &:nth-child(2) {
            > span:first-child {
              width: 12px;
              height: 12px;
            }
          }

          &:nth-child(3) {
            > span:first-child {
              width: 16px;
              height: 16px;
            }
          }

          &:nth-child(4) {
            > span:first-child {
              width: 20px;
              height: 20px;
            }
          }

          &:nth-child(5) {
            > span:first-child {
              width: 24px;
              height: 24px;
            }
          }
        }

        .active_font {
          .pixel_title {
            color: #ed2a26;
          }

          .pixel_icon {
            background-color: #ed2a26;
            border-radius: 50%;
          }
        }
      }

      .dropdown_menu_closed {
        width: 97px;
        height: 0;
        opacity: 0;
        background-color: white;
        position: absolute;
        top: 48px;
        right: 0;
        z-index: 5;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 8px 8px;
        overflow: hidden;
        transition: 300ms;
      }
    }

    .color_select {
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 24px;
      background: none;

      .color_wrapper {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid white;
      }
    }

    .reset_undo_redo {
      width: 184px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .undo_redo {
        width: 20px;
        height: 20px;

        button {
          cursor: not-allowed;
        }
      }

      .active {
        path {
          fill: white;
        }

        button {
          cursor: pointer;
        }
      }

      .reset {
        width: 32px;
        height: 32px;
        background: #27282b;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms;

        > button {
          cursor: pointer;
        }

        &:hover {
          background-color: black;
        }
      }
    }

    .full_screen_btn {
      width: 32px;
      height: 32px;
      margin-left: 8px;
      border-radius: 8px;
      transition: 200ms;

      &:hover {
        background: #414246;
      }

      > button {
        cursor: pointer;
      }
    }
  }
}

.whiteBoardWrapper {
  position: relative;

  .wrappercanvas {
    position: absolute;
    left: 0;
    top: 0;
  }

  .cursor_triangle {
    cursor: url('svg-../../../../assets/img/cursor/triangle.cur') -1 1, pointer;
  }

  .cursor_rectangle {
    cursor: url('svg-../../../../assets/img/cursor/rectangle.cur') -1 1, pointer;
  }

  .cursor_circle {
    cursor: url('svg-../../../../assets/img/cursor/circle.cur') -1 1, pointer;
  }

  .cursor_pencil {
    cursor: url('svg-../../../../assets/img/cursor/pencil.cur') -1 15, pointer;
  }

  .cursor_line {
    cursor: url('svg-../../../../assets/img/cursor/line.cur') -1 1, pointer;
  }

  .cursor_text {
    cursor: text;
  }

  .cursor_move {
    cursor: move;
  }

  .cursor_pointer {
    cursor: url('svg-../../../../assets/img/cursor/pointer.cur') -1 1, pointer;
  }

  .user_identifyer {
    min-height: 24px;
    position: absolute;
    z-index: 8;
    display: none;
    justify-content: flex-start;
    align-items: flex-end;

    .user_name {
      height: 100%;
      border: 1px solid #e7e7e7;
      box-sizing: border-box;
      border-radius: 16px;

      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #6a6a6a;
      text-align: center;
      padding: 4px 8px;
      background: #ffffff;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  .user_identifyer_inside {
    min-width: 91px;
    min-height: 24px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 16px;
    position: absolute;
    z-index: 8;
    display: none;
    align-items: center;
    overflow: hidden;

    padding: 0 8px;

    img {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }

    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #6a6a6a;
      overflow: hidden;
    }
  }
}

.color_picker {
  width: 240px;
  height: 354px;
  background: white;
  position: absolute;
  right: 10px;
  top: 64px;
  border-radius: 8px;
}

.text_wrapper {
  position: absolute;
  padding: 4px 8px;

  font-size: 16px;
  line-height: 24px;
  color: #1c1d1f;
  box-sizing: border-box;
  white-space: pre-wrap;
}

.user_manage_wrapper {
  width: 288px;
  min-height: 32px;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 0px 0px 8px 8px;
  background: white;

  .user_manage_button {
    width: 100%;
    height: 32px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 8px;

    .icon_text_wrapper {
      height: 100%;
      display: flex;
      align-items: center;

      span {
        margin-left: 8px;

        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #6a6a6a;
      }
    }

    svg {
      transition: 300ms;
    }
  }

  .opened {
    .icon_text_wrapper {
      span {
        color: #1c1d1f;
      }
    }

    .arrow {
      svg {
        transform: rotate(-90deg);

        path {
          stroke: #1c1d1f;
        }

        transition: 300ms;
      }
    }
  }

  .users_wrapper {
    overflow: hidden;
    padding: 16px;
    display: flex;
    flex-direction: column;

    .user_wrapper {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .img_and_name {
        display: flex;
        align-items: center;

        .img_wrapper {
          width: 24px;
          height: 24px;
          overflow: hidden;
          border-radius: 50%;
          margin-right: 8px;
        }

        .user_name {
          font-size: 14px;
          line-height: 20px;
          color: #1c1d1f;
        }
      }
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .empty_msg {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    color: #1c1d1f;
  }
}
