.teacherInfo {
  width: 100%;
  height: 264px;
  padding: 16px 16px 0 16px;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;

  .profile {
    width: 100%;
    height: 112px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    .about {
      width: 381px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .pic {
        width: 112px;
        height: 112px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
        border-radius: 100%;
      }
      .aboutInfo {
        width: 245px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name {
          width: 100%;
          height: 32px;
          font-family: Rubik;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: #1c1d1f;
        }
        .rating {
          width: 100%;
          height: 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .stars {
            width: 192px;
            height: 100%;
          }
          .rate {
            width: 37px;
            height: 20px;
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #1c1d1f;
          }
        }
        .profession {
          width: 100%;
          height: 24px;
          font-family: Rubik;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          color: #1c1d1f;
        }
      }
    }
    .info {
      width: 195px;
      height: 104px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .description {
    width: 100%;
    height: 40px;
    margin-bottom: 32px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .infoBar {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 1600px) {
  .teacherInfo {
    height: 208px;
    overflow: hidden;
    .profile {
      height: 80px;
      overflow: hidden;
      .about {
        width: 252px;
        .pic {
          width: 56px;
          height: 56px;
          overflow: hidden;
        }
        .aboutInfo {
          width: 178px;
          .name {
            height: 30px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #1c1d1f;
          }
          .profession {
            height: 20px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: #1c1d1f;
          }
        }
      }
      .info {
        height: 100%;
      }
    }
    .description {
      height: 36px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: #1c1d1f;
      margin-bottom: 24px;
    }
    .infoBar {
      height: 28px;
      overflow: hidden;
    }
  }
}
