.message{
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title{
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
}

.title p{
    color: #c7c7c7;
    padding: 5px 5px;
    margin: 3px;
}

.liveChat{
    height: 319px;
    background-color: transparent;
    overflow-y: auto;
    transition: .4s;
    border-radius: 6px;
    margin: 5px 0;
    transition: all .5s;
}

.liveChat:hover{
    background:linear-gradient(0deg, rgba(0,0,0,0.260175) 20%, rgba(2,2,2,0.25454545) 8%, rgba(2,2,2,0.2193) 44%, rgba(2,2,2,0.155555) 55%, rgba(2,2,2,0.08529767) 71%, rgba(3,3,3,-4) 75%)
}

.chatContainer{
    min-height: 319px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chatPosition{
    position: absolute;
    bottom: 65px;
    right: 40px;
}

.controls{
    display: flex;
}

.myMessage p{
    background-color: rgba(255, 8, 8, 0.3);
    color: white;
    padding: 5px 12px;
    margin: 1px 0;
    width: fit-content;
    border-radius: 1em;
    font-weight: 400;
    border-top-right-radius: 0;
    overflow-wrap: anywhere;
}

.messages{
    width: 85%;
}

.userImg{
    height: 25px!important;
    width: 25px!important;
    border-radius: 50%;
    margin: 0 5px;
}

.myMessage{
    display: flex;
    justify-content: flex-end;
}

.messageResived{
    display: flex;
}

.messageResived p{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px 12px;
    margin: 1px 0;
    width: fit-content;
    border-radius: 1em;
    border-top-left-radius: 0;
    font-weight: 400;
    overflow-wrap: anywhere;
}

.messageInput{
    background-color: rgba(0, 0, 0, 0.3)!important;
    color: white!important;
    width: 100%;
    border-radius: 15px;
    margin: 0 2px;
    padding: 4px 50px 0px 8px;
    z-index: 999;
    position: relative;
}

.messageInput:focus{
    outline: none!important;
}


.messageInput::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.sendFile{
    color: #969696;
    height: 37px!important;
    margin: 0 5px!important;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    right: 33px;
    bottom: 0;
}

.sendMessage{
    color: #969696;
    height: 37px!important;
    cursor: pointer;
    z-index: 99999;
    position: absolute;
    right: 14px;
    bottom: 0;
}

input:focus{
    outline: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: rgb(82, 82, 82);
}

.liveChat:hover::-webkit-scrollbar {
    width: 3px;
    background: rgb(82, 82, 82);
}
