.left {
  z-index: 1;
  width: 260px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 24px;
}
.left::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 320px;
  height: 80px;
  //background: rgba(35, 35, 35, 0.4);
  border-radius: 24px;
  //backdrop-filter: blur(20px);
  //-webkit-backdrop-filter: blur(20px);
}
