.videoContainer {
  background: grey;
}

.videoContainer:hover .controlers {
  display: flex;
}

.videoContainer:hover .timer {
  top: 10px;
}

.userRequest {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  border-radius: 50%;
  margin: 10px 20px;
  cursor: pointer;
  background-color: #ed2a26;
  transition: 0.5s;
  color: white;
  position: relative;
  box-shadow: 13px 10px 24px -13px #000000;
}

.timer {
  position: absolute;
  top: -46px;
  left: calc(50% - 69px);
  font-size: 22px;
  transition: 0.3s;
  z-index: 99;
  border-radius: 10px;
  background: rgb(0 0 0 / 58%);
  padding: 5px 10px;
}

.lessonNotification {
  position: absolute;
  top: -50px;
  animation: example 1s ease infinite forwards;
  animation-delay: 1s;
  left: calc(50% - 23px);
  font-size: 22px;
  transition: 0.5s;
  color: red;
  z-index: 99;
  background: white;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@keyframes example {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.lessonLastTime {
  top: 53px !important;
}

.userRequest:hover {
  background-color: #b11715;
}

.addTest {
  font-size: 16px;
  position: absolute;
  bottom: 5px;
  right: 13px;
}

.testNotification {
  font-size: 14px;
  position: absolute;
  top: 6px;
  right: 4px;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  background-color: rgb(4, 165, 4);
  border: 3px solid white;
}

.subButton {
  height: 45px !important;
  width: 45px !important;
  justify-content: center;
  align-items: center;
}

.subButton svg {
  display: flex;
  font-size: 15px;
}

.controlers {
  width: 100%;
  text-align: center;
  bottom: 8px;
  z-index: 999;
  justify-content: space-around;
  align-items: center;
  display: none;
  overflow-x: hidden;
  padding: 0 17px 0 17px;
}

.backtovideosMobile {
  position: absolute;
  left: 12px;
  top: 12px;
}

.backtovideos {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.smallVideoController {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin: 10px;
  position: absolute;
  left: 40px;
  bottom: 0;
  z-index: 9999;
}

.fullScreen {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.chat {
  position: absolute;
  cursor: pointer;
  right: 310px;
  bottom: 13px;
  font-size: 25px;
  color: rgb(219, 219, 219);
  border-radius: 50%;
  padding: 2px;
  z-index: 999;
}

.word {
  padding: 9px 16px !important;
}

.users {
  position: absolute;
  cursor: pointer;
  left: 290px;
  bottom: 13px;
  font-size: 30px;
  color: rgb(219, 219, 219);
  border-radius: 50%;
  padding: 2px;
  z-index: 999;
}
.userList {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.rightSection {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.headWindow {
  position: relative;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.userSmallVideo {
  height: 100px;
  width: 169px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: move;
}

.userSmallVideo video {
  position: relative;
}

.closVideo {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: red;
  cursor: pointer;
}

.userSmallVideo video {
  height: 100%;
  width: 100%;
  transform: scaleX(-1);
  object-fit: cover;
}

.userSmallVideo:hover .closVideo {
  display: block;
}

.screenNotification {
  position: absolute;
  top: calc(50% - 37px);
  right: calc(50% - 172px);
  border: 2px solid white;
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 20px;
}

.userImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  text-align: center;
}

.success {
  border-radius: 50% !important;
  width: 44px;
  height: 42px;
  margin-right: 10px;
  background-color: #28a745 !important;
  transition: 0.5s;
}

.success:hover {
  background-color: green !important;
}

.reject {
  border-radius: 50% !important;
  width: 44px;
  height: 42px;
  background-color: red !important;
}

.reject:hover {
  background-color: rgb(187, 5, 5) !important;
}

.addChoiceLine {
  border-radius: 0.37em !important;
  background-color: #28a745 !important;
  border: none !important;
}

.addChoiceLine:hover {
  background-color: green !important;
}

.sendQuestion {
  border-radius: 0.37em !important;
  background-color: #28a745 !important;
  border: none !important;
}

.sendQuestion:hover {
  background-color: green !important;
}

.testInfo {
  background-color: white;
}

.choice {
  color: rgb(14, 14, 14);
  font-weight: normal;
}

.vizualiser {
  position: absolute;
  bottom: 14px;
  right: 14px;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userImg {
  height: 40px !important;
  width: 40px !important;
  display: inline;
}

.userImage h3 {
  color: white;
}

.notification {
  height: 8px;
  width: 8px;
  position: absolute;
  top: 16px;
  right: 14px;
  border-radius: 50%;
  background-color: red;
}

.questionNotification {
  height: 7px;
  width: 7px;
  position: absolute;
  top: 7px;
  right: 7px;
  border-radius: 50%;
  background-color: #28a745;
}

.choiceContent {
  display: flex;
  align-items: start;
}
